body{
    background-color: darkgray ;
}

.to-do-list{
    text-align: center;
    margin-top: 100px;
    font-family: sans-serif;
}

h2{
    font-size: 4rem;
}

button{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.5s ease;
    padding: 10px 20px;
}

.add-button{
    background-color: #2ecc71;
}
.add-button:hover{
    background-color: #27ae60;
}

.delete-button{
    background-color: #e74c3c;
}
.delete-button:hover{
    background-color: #c0392b;
}
.move-button{
    background-color: #3498db;
}
.move-button:hover{
    background-color: #2980b9;
}

input[type = "text"]{
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

ol{
    padding: 0;
}

li{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 97%);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.text1{
    flex: 1;
}

.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}